body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
    font-size: 40px;
}
.orange-color {
  color: orange;
}
.flexible-container {
  display: flex;
  padding-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 2%;
}
.experiences-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    border-radius: 8px;
}
.experieces-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-width img {
  width: 85%;
}
.link-button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
}
.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}